/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
public
bootstrap
app/commands
app/config
app/lang
app/start
app/storage
app/tests
phpunit.xml
readme.md
server.php
artisan